<!DOCTYPE html>
<html lang="en" xmls="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="js\bootstrap.bundle.js"></script>
    <script src="js\bootstrap.bundle.min.js"></script>
    <script src="js\bootstrap.js"></script>
    <script src="js\bootstrap.min.js"></script>
    <script src="scs\bootstrap.css"></script>
    <link  rel="stylesheet"href="scs\liga.css">
    <link rel="stylesheet" href="scs\bootstrap.min.css">
    <link rel="stylesheet" href="scs\bootstrap-grid.css">
    <link rel="stylesheet" href="scs\bootstrap.grid.min.css">
    <link rel="stylesheet" href="scs\bootstrap-reboot.css">
    <link rel="stylesheet" href="scs\bootstrap-reboot.min.css">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bd-light cor-letra">
    <a class="navbar-brand" href="/">
        <img src="/img/emblema.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        Liga Dos Campeões Amadores
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">Sobre a Liga</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Notícias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Competições</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Clubes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Atletas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Arbitragem</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Fale Conosco</a>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Portal
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/portalLiga">Portal Da Liga</a>
                <a class="dropdown-item" href="/portalDoArbitro">Portal Do Árbitro</a>
                <a class="dropdown-item" href="/portalClube">Portal Do Clube</a>
            </div>
        </li>
        </ul>
    </div>
</nav>
</body>
</html>