<!DOCTYPE html>
<html  lang="en" xmls="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="js\bootstrap.bundle.js"></script>
    <script src="js\bootstrap.bundle.min.js"></script>
    <script src="js\bootstrap.js"></script>
    <script src="js\bootstrap.min.js"></script>
    <script src="scs\bootstrap.css"></script>
    <link rel="stylesheet" href="scs\liga.css">
    <link rel="stylesheet" href="scs\bootstrap.min.css">
    <link rel="stylesheet" href="scs\bootstrap-grid.css">
    <link rel="stylesheet" href="scs\bootstrap.min.css">
    <link rel="stylesheet" href="scs\bootstrap-reboot.css">
    <link rel="stylesheet" href="scs\bootstrap-reboot.min.css">
</head>
<body>
<div  class="panel panel-default">
    <div th:insert="fragments/menu.html">

    </div>
</div>
</body>
</html>