<!DOCTYPE html>
<html lang="en" xmls="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="scs\bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/portalDoArbitro">
        <img src="/img/emblema.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        Portal Do Árbitro
    </a>
    <br>
    <a class="navbar-brand" href="/portalDoArbitro">
        Liga dos Campeões Amadores
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">Escala</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Súmula</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Dispensa</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Histórico</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Comunicados</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/arbitroCadastro">Meu Cadastro</a>
        </li>

        </ul>
</nav>
</body>
</html>